# Supabase — Settings > API хэсгээс хуулна уу
NEXT_PUBLIC_SUPABASE_URL=https://atmohuldrntubyeizpdz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0bW9odWxkcm50dWJ5ZWl6cGR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MzMxMDYsImV4cCI6MjA5ODAwOTEwNn0.Bplyja-3TuoUiSVu7vUZ9Rvbo1zCs9bYQ4XerJ46x6U
